/* General site styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Header styles */

.site-logo svg {
  height: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 1.5rem;
}