/* General site styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.row {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

figure img {
  width: 600px;
  border-radius: 5px;
}

/* Navigation styles */

.site-logo svg {
  height: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 1rem;
  background-color: aquamarine;
}

a {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  padding-left: 1.5rem;
}

#about,
#community,
#contact {
  padding: 3rem 0;
}

/* Header/Hero Styles */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eadcff;
  height: calc(100vh - 80px);
}

h1 {
  font-size: 4.5rem;
}

.subheader {
  font-size: 2.25rem;
  margin: 1rem 0 1.5rem 0;
}

button {
  background-color: #05c7cf;
  border: none;
  border-radius: 0.3rem;
  padding: 1.125rem 1.188rem;
  color: #fff;
  cursor: pointer;
}

/* About section styles */

#about {
  background-color: #f5fae4;
}

h2 {
  font-size: 3.72rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-description-wrapper {
  width: 60%;
}

/* .about-img-wrapper {
  width: 40%;
} */

.section-description-wrapper,
.about-img-wrapper {
  padding: 0 3rem;
}

img {
  width: 100%;
}

.section-description-paragraph {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.25rem
}

/* Community section styles */

#community {
  background-color: #cefeff;
}


/* Contact section styles */

#contact {
  background-color: #dce9ff;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

input, textarea {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  padding: 0.4rem 0.75rem
}

label {
  margin-bottom: 0.5rem;
}

/* Footer section styles */

footer {
  background-color: #aaf5ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  padding: 0 1.5rem;
}

.copyright {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Responsive/Mobile styles */

/* small phones, tablets, large smartphones */

@media screen and (max-width: 728px) {
  .row {
    flex-direction: column
  }

  h1 {
    font-size: 2.5rem;
  }

  .subheader {
    font-size: 1.25rem;
  }

  .hero-area-responsive-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }

  ul {
    display: none;
  }

  /* About section mobile */

  .section-description {
    flex-direction: column;
  }

  .section-description-wrapper {
    width: 100%;
  }

}