/* General Styles */

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1, span {
  font-size: 2.25rem;
}

p {
  line-height: 1.5;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text-purple {
  color: #6030b1
}

section:nth-child(odd) {
  background-color: #f8f8f8;
}

.section-title {
  margin-bottom: 1.25rem
}

/* Top bar navigation styles */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-list {
  display: flex;
}

.nav-link-anchor {
  margin: 0 0.75rem;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
}

.nav-link-anchor-primary {
  background-color: #6030b1;
  padding: 0.5rem 1.25rem;
  border-radius: 3.125rem;
  color: #fff;
  transition: all 300ms ease;
}

.nav-link-anchor-primary:hover {
  background-color: #5d3eff;
}

.portfolio-logo {
  color: #6030b1;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0.75rem;
}

/* hero area styles */

.hero-area {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me-info {
  display: flex;
  flex-direction: column;
}

.about-me-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me-picture-mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 1.8rem;
}

.about-me-picture {
  width: 100%;
}

.about-me-info-title {
  margin-bottom: 0.5rem;
}

.about-me-info-paragraph {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
}

.about-me-link {
  font-size: 1.5rem;
  color: #242424;
  text-decoration: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

.about-me-image-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.about-me-img {
  width: 100%;
}

/* Languages styles */

.container {
  padding: 3.125rem;
}

.language-image {
  width: 100%;
  max-width: 6.25rem;
  transition: all 300ms;
}

.language:hover .language-image {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language-list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.language-name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 1.25rem;
  opacity: 0;
}

.language:hover .language-name {
  transform: scale(1);
  opacity: 1;
}

/* projects section styles */

.project {
  margin-bottom: 135px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project-img {
  width: 100%;
  transition: all 500ms ease;
}

.project-wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.project-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 450ms ease;
  z-index: 2;
}

.project:hover .project-wrapper:before {
  opacity: 0.7;
}

.project:hover .project-img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project-description {
  opacity: 1;
  transform: translateY(-50%);
}

.project-list {
  padding-top: 2.5rem;
}

.project-description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project-description-title {
  font-size: 2.5rem;
}

.project-description-paragraph {
  margin: 1rem 0;
}

.project-description-link {
  font-size: 1.25rem;
  margin-right: 1rem;
  text-decoration: none;
}

.project-description-title,
.project-description-subtitle,
.project-description-paragraph,
.project-description-link {
  text-align: left;
  color: #fff;
}

/* footer section styles */

footer {
  background-color: #242424;
}

.footer-logo-img {
  width: 70px;
  height: 70px;
}

.footer-row {
  padding: 8% 0;
}

