html {
  font-family: sans-serif;
}

.container {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 100px auto;
  padding: 15px 20px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
}

.form input[type="number"] {
  width: 200px;
}

.lastResult {
  color: white;
  padding: 3px;
}