/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

header {
  display: flex;
  align-items: center;
}

.logo svg {
  width: 2.5rem;
  fill: #d8328a;
  
}

.navigation {
  flex-grow: 1;
  margin-left: 2.5rem;
}

.navigation__item {
  text-decoration: none;
  color: #bdbdbd;
  margin-left: 2rem;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__item--active {
  color: #333;
}

.navigation__button {
  border: none;
  background: linear-gradient(270deg, #faa245 0%, #d8328a 37.25%, #753872 100%);
  padding: 1rem 3rem;
  border-radius: 2rem;
  color: #fff;
}

main {
  display: flex;
  margin-top: 2.5rem;
}

.main-content {
  flex: 1;
}

.main-image {
  flex: 1;
}

.main__headline {
   font-size: 2.8rem;
   font-weight: 500;
}

.main__description {
  color: #828282;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.main__play-button {
  border: 1px solid #e0e0e0;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  background: transparent;
  background: -webkit-linear-gradient(
    270deg, 
    #faa245 0%, 
    #d8328a 37.25%, 
    #753872 100%
    );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__play-button ion-icon {
  color: #d8328a;
  font-size: 1.25rem;
  margin-right: 0.25rem;
}
