/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins" sans-serif;
  color: #333;
}

header {
  display: flex;
  align-items: center;
}
.navigation {
  flex-grow: 1;
}
