body {
  font-family: helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: 25px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

label {
  font-weight: bold;
}

div {
  padding-top: 5px;
  padding-bottom: 20px;
}

input[type="text"] {
  padding: 5px;
  width: 150px;
}

button {
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;

}

p {
  background: #b6ff25;
  color: #5e2612;
  padding: 14px;
  visibility: hidden;
  border-radius: 8px;
}