/* General styles */

:root {
  --primary-font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font-family);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header & Nav styles */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  margin: 4rem;
}