/* General Styles */

:root {
  --main-hot-red: #EC4A5C;
  --main-dark-gray: #EFF0F4;
  --secondary-light-gray: #F6F7F9;
  --label-text-color: #7369AB;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}