/* General styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5)),url(https://images.unsplash.com/photo-1506744038136-46273834b3fb?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.container .clock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-numbers span {
  position: absolute;
  inset: 12px;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
}

.clock-numbers span b {
  font-size: 2rem;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.container .clock-hands {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-hands .hand {
  position: absolute;
  height: 150px;
  width: 4px;
  bottom: 0;
  border-radius: 25px;
  transform-origin: bottom;
  background: white;
}

.hand.min-hand {
  height: 130px;
  width: 5px;
  transform: rotate(45deg);
  background: white;
}

.hand.hour-hand {
  height: 100px;
  width: 7px;
  transform: rotate(75deg);
  background: white;
}
