/* General styles */

:root {
  --font-family-sans: font-family: "Poppins", sans-serif;
  --color-primary-red: hsl(0, 78%, 62%);
  --color-primary-cyan: hsl(180, 62%, 55%);
  --color-primary-orange: hsl(34, 97%, 64%);
  --color-primary-blue: hsl(212, 86%, 64%);
  --color-neutral-very-dark-blue: hsl(234, 12%, 34%);
  --color-neutral-grayish-blue: hsl(229, 6%, 66%);
  --color-neutral-very-light-gray: hsl(0, 0%, 98%);
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-size-400: 0.9275rem;
  --font-size-500: 1.25rem;
  --font-size-600: 1.625rem;
  --font-size-900: 2.5rem; 
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

html {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
  line-height: 1.7;
  color: var(--color-neutral-grayish-blue);
}

body {
  padding-block-end: 5rem;
}

h1,
h2,
h3 {
  color: var(--color-neutral-very-dark-blue);
  line-height: 1.1;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
}

.wrapper-small {
  max-width: 550px;
}

/* header styles */

header {
  text-align: center;
  margin-block: 6rem;
}

/* main content styles */

.layout-grid {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
}

.col {
  display: grid;
  align-content: center;
  gap: var(--gap);
}

.layout-grid > * {
  flex: 1;
}

.card {
  --br: 0.325rem;
  padding: 2rem;
  border-top: var(--br) solid;
  border-radius: var(--br);
  box-shadow: 0rem 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.15);
}

.border-teal {
  border-color: var(--color-primary-blue);
}
.border-red {
  border-color: var(--color-primary-red);
}
.border-yellow {
  border-color: var(--color-primary-orange);
}
.border-blue {
  border-color: var(--color-primary-blue);
}






/* front end mentor styles */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

