

/* General styles */
* {
  box-sizing: border-box;
}

:root {
  --primary-red: hsl(0, 78%, 62%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }