/* Cake Recipe Page Styles */

/* Root styles */
:root {
  --bg-color: #ECF2FF;
  --text-color: #2B283A;
  --title-color: #4A4E74;
}

/* Font styles */
.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--bg-color);
  font-family: sans-serif;
  color: var(--text-color);
}

section {
  width: 90%;
  margin: 0, auto;
}

h1,
h2 {
  font-family: "Bubblegum sans";
  text-align: center;
}

h1 {
  color: var(--title-color);
  font-size: 3em;
  text-align: center;
}