/* Cake Recipe Page Styles */

/* Root styles */
:root {
  --bg-color: #ECF2FF;
  --text-color: #2B283A;
  --title-color: #4A4E74;
}

/* Font styles */
.bubblegum-sans-regular {
  font-family: "Bubblegum Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--bg-color);
  font-family: sans-serif;
  color: var(--text-color);
}

section {
  width: 90%;
  margin: 0, auto;
}

h1,
h2 {
  font-family: "Bubblegum sans";
  text-align: center;
}

h1 {
  color: var(--title-color);
  font-size: 3em;
  text-align: center;
}

.fireworks {
  text-align: center;
  font-size: 4em;
}

ul.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 70px;
}

ul.grid li {
  list-style: none;
  justify-content: center;
  font-size: 3em;
}

.scared:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: rotate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}